.blogs_content_container {
  background: #ed6c02;
  height: 100%;
}
.login_card_container {
  margin-top: 350px;
  margin-left: 750px;
  width: 500px;
  height: 500px;
}
.login_form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blogs_left_image {
  height: 50px !important;
  width: 50px !important;
}
.user-name-bedge {
  text-align: left !important;
  margin-left: 20px;
  display: flex;
}
.username-area {
  margin-top: 52px;
  color: white;
  margin-left: 5px;
}
.blog_area_wrapper {
  display: flex;
}
/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
.para-text {
  width: 600px;
  text-indent: -8px;
  padding: 6px 10px 6px 8px;
  background-color: var(--GrayExtraLight);
}
.para-wrapper {
  border: 1px solid gray;
  padding: 8px;
  align-items: center;
  align-content: center;
  text-align: center;
}
